body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
}

header {
  background-color: #eb1c24;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2rem;
  margin-bottom: 1px;
  box-sizing: border-box;
}

.heading {
  margin: 0;
  text-align: center;
  align-items: center;
}

.welcome-p {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.header-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  font-size: 1.2rem;
  margin: 0 10px;
  color: #00005c;
  position: relative;
  box-sizing: border-box;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container span {
  font-size: 16px;
  color: #00005c;
}

.home-icon {
  cursor: pointer;
  font-size: 3rem;
  transition: transform 0.4s ease-in-out;
}

.home-icon:hover {
  transform: scale(1.4);
}

.tooltip .MuiTooltip-tooltip {
  font-size: 10rem;
  padding: 5px;
}

.homepage-img {
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.avatar-header {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-bar {
    font-size: 1rem;
    gap: 10px;
  }

  header {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .welcome-p {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .avatar-header {
    top: 10px;
    right: 3px;
    width: 32px;
    height: 32px;
  }
  .nav-items {
    flex-direction: row;
    justify-content: center;
  }

  .icon-container span {
    font-size: 14px;
  }
}

.article-card {
  display: grid;
  gap: 1.5rem;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.MuiCard-root img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .article-card {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 900px) {
  .article-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.MuiCard-root:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  padding: 16px;
  box-sizing: border-box;
}

.single-article {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 90%;
  text-align: center;
  font-size: 20px;
}

.single-article-card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #800000;
}

.single-article-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.circular {
  width: 100px;
  height: 70px;
  background-color: lightcoral;
  border-radius: 50%;
  align-items: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: 3px solid black;
}

.nav {
  margin-right: auto;
}

.comments-subheading {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.comment-card {
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  right: 10px;
}

.comment-card .MuiCard-root {
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  background-color: #ffe6e6;
  width: 100%;
}

.comment-card p {
  margin: 3px 0;
}

.comment-card h4 {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .comment-card .MuiCard-root {
    padding: 8px;
  }
}

.vote-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: rgb(159, 13, 13);
}

.vote-icons .icon {
  cursor: pointer;
  font-size: 3rem;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.4);
}

.user-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.user-card {
  border: 1px solid #838080;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 16px rgba(83, 82, 82, 0.15);
}

.user-card img {
  border-radius: 50%;
  width: 50%;
  height: 40%;
  margin-bottom: 0;
  align-items: center;
}

.user-card h3 {
  margin: 0;
  color: rgb(159, 13, 13);
}

.user-subheading {
  margin-left: 30px;
}

.topic-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sort-nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 5px;
}
