body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #eb1c24;
  color: white;
  padding: 1rem;
  text-align: center;
}

.article-card {
  display: grid;
  gap: 1.5rem;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.MuiCard-root img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .article-card {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 900px) {
  .article-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

.MuiCard-root:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  padding: 16px;
  box-sizing: border-box;
}

.single-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 90%;
  text-align: center;
  font-size: 20px;
}

.single-article-text {
  text-align: center;
}

.single-article-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.circular {
  width: 100px;
  height: 70px;
  background-color: lightcoral;
  border-radius: 50%;
  align-items: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: 3px solid black;
}

.nav {
  margin-right: 20px;
}

.comments-subheading {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.comment-card {
  margin: 20px 0;
}

.comment-card .MuiCard-root {
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  background-color: #ffe6e6;
}

.comment-card p {
  margin: 3px 0;
}

.comment-card h4 {
  margin: 5px 0;
}
